target/
.env
.venv
aws/efs-lister/efs-policy.json
aws/efs-lister/response.json
aws/efs-lister/trust-policy.json
data/

dataframes/jupyter/fruits.csv
pqfilter/*.parquet
pqfilter/*.csv
aws/s3-dynamo-lambda/response.json
aws/kinesis-demo/
etl/etl-demo/1.csv
